#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





.flex-container {
  display: flex; /* Włącza flexbox */
  justify-content: space-between;
}
.time-item{
  padding: 2px;
  margin: 5px;
  background-color: gainsboro;

}
.map-point{
  padding: 5px;
  margin: 5px;
  background-color: greenyellow;

}
.cors-select{
  padding: 5px;
  background-color: lightseagreen;
  margin: 5px;
}

.t-select{
  background-color: gold;

  padding: 5px;
  margin: 5px;
}  


.dim-select{
  background-color: rgb(112, 122, 124);
  
  padding: 5px;
  margin: 5px;
}
/* Style podstawowe */
.wielki-przycisk {
  background-color: rgb(34, 146, 150);
  color: #fff;
  padding: 15px 30px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Efekt przejścia (zmiana koloru) */
}

/* Efekt hover - zmiana koloru po najechaniu myszką */
.wielki-przycisk:hover {
  background-color: #4c4c4c;
}

/* Efekt active - zmiana koloru po kliknięciu */
.wielki-przycisk:active {
  background-color: rgb(255, 0, 0);
}

.gap{
  padding: 5px;
  margin: 10px;
}

/* Style dla logo w rogu */
.logo2 {
  position: absolute;
  top: 37px; /* Odległość od górnego brzegu strony */
  left: 15px; /* Odległość od lewego brzegu strony */
}

/* Stylowanie obrazu logo (dodaj odpowiednie wymiary, obramowanie itp.) */
.logo2 img {
  width: 200px; /* Dostosuj szerokość logo */
  height: auto; /* Pozwala zachować proporcje logo */
  border: 1px solid #000; /* Opcjonalne: dodaj obramowanie */
}

/* Dla całej strony */
body {
  background-image: url('earth2.jpg'); /* Podaj ścieżkę do obrazka */
  background-size: cover; /* Dopasuj rozmiar tła do okna przeglądarki */
}
